@import "tailwindcss";

:root {
  --background: hsl(0, 0%, 100%);
  --foreground: hsl(233, 18%, 9%);

  --text-preset-1-size: 4rem;
  --text-preset-1-line-height: 1;
  --text-preset-1-letter-spacing: -1px;
  --text-preset-1-font-weight: 700;

  --text-preset-1-mobile-size: 2.5rem;
  --text-preset-1-mobile-line-height: 1;
  --text-preset-1-mobile-letter-spacing: -1px;
  --text-preset-1-mobile-font-weight: 700;

  --text-preset-2-size: 1.5rem;
  --text-preset-2-line-height: 1.3;
  --text-preset-2-letter-spacing: -1px;
  --text-preset-2-font-weight: 600;

  --text-preset-3-size: 1.25rem;
  --text-preset-3-line-height: 1.4;
  --text-preset-3-letter-spacing: -0.6px;
  --text-preset-3-font-weight: 400;

  --text-preset-4-size: 1rem;
  --text-preset-4-line-height: 1.3;
  --text-preset-4-letter-spacing: -0.6px;
  --text-preset-4-font-weight: 400;
}

@theme {
  --color-*: initial;
  --color-neutral-0: hsl(0, 0%, 100%);
  --color-neutral-100: hsl(240, 24%, 96%);
  --color-neutral-200: hsl(240, 26%, 92%);
  --color-neutral-600: hsl(234, 14%, 29%);
  --color-neutral-700: hsl(235, 13%, 19%);
  --color-neutral-800: hsl(235, 14%, 15%);
  --color-neutral-900: hsl(233, 18%, 9%);
  --color-purple-400: hsl(274, 90%, 80%);
  --color-purple-500: hsl(274, 90%, 73%);
  --color-yellow-500: hsl(37, 100%, 50%);
  --color-orange-500: hsl(15, 99%, 67%);
  --color-orange-800: hsl(15, 99%, 43%);

  --spacing-*: initial;
  --spacing-0: "0px";
  --spacing-025: "0.125rem";
  --spacing-050: "0.25rem";
  --spacing-075: "0.375rem";
  --spacing-100: "0.5rem";
  --spacing-150: "0.75rem";
  --spacing-200: "1rem";
  --spacing-250: "1.25rem";
  --spacing-300: "1.5rem";
  --spacing-400: "2rem";
  --spacing-500: "2.5rem";
  --spacing-600: "3rem";
  --spacing-800: "4rem";
  --spacing-1000: "5rem";

  --radius-*: initial;
  --radius-0: "0";
  --radius-4: "4px";
  --radius-6: "6px";
  --radius-8: "8px";
  --radius-10: "10px";
  --radius-12: "12px";
  --radius-16: "16px";
  --radius-20: "20px";
  --radius-24: "24px";
  --radius-full: "999px";
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-dm-sans);
}

@utility text-preset-1 {
  font-size: var(--text-preset-1-size);
  line-height: var(--text-preset-1-line-height);
  letter-spacing: var(--text-preset-1-letter-spacing);
  font-weight: var(--text-preset-1-font-weight);
}

@utility text-preset-1-mobile {
  font-size: var(--text-preset-1-mobile-size);
  line-height: var(--text-preset-1-mobile-line-height);
  letter-spacing: var(--text-preset-1-mobile-letter-spacing);
  font-weight: var(--text-preset-1-mobile-font-weight);
}

@utility text-preset-2 {
  font-size: var(--text-preset-2-size);
  line-height: var(--text-preset-2-line-height);
  letter-spacing: var(--text-preset-2-letter-spacing);
  font-weight: var(--text-preset-2-font-weight);
}

@utility text-preset-3 {
  font-size: var(--text-preset-3-size);
  line-height: var(--text-preset-3-line-height);
  letter-spacing: var(--text-preset-3-letter-spacing);
  font-weight: var(--text-preset-3-font-weight);
}

@utility text-preset-4 {
  font-size: var(--text-preset-4-size);
  line-height: var(--text-preset-4-line-height);
  letter-spacing: var(--text-preset-4-letter-spacing);
  font-weight: var(--text-preset-4-font-weight);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: hsl(233, 18%, 9%);
    --foreground: hsl(240, 24%, 96%);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
